.home{
    background-image: url('https://cdna.artstation.com/p/assets/images/images/025/951/114/large/jang-jae-ok-22244.jpg?1587431887');
    width: 100%; 
    height: 100vh;
    overflow:auto;
    background-repeat:no-repeat;
    background-size: cover;
}

.filter{
    
    float: left;
    position: relative;
    width: auto;
    height: auto;
}

.cardsError{
    margin-left: 30%;
    -webkit-text-stroke: 1px red;
    font-size: 20px;
    margin-top: 200px;
    width: 50%;
    color: blue;
    background-color:salmon ;
}

